* {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvitica", sans-serif;
  background-color: azure;
}


.container {
  max-width: 960px;
  margin: 0 auto;
}


.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}


.company {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.container span {
  padding-left: 1rem;
}

nav .menu {
  padding: 1rem 2rem;

}

ul li {
  display: inline;
  padding: 0 1rem;
}

ul {
  margin-right: 1rem;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

header {
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}


.mobile-nav {
  display: none;
}
h1 {
  line-height: 1.2;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  padding: 1.5rem 5rem;
}
.main-banner
.container {
  background-color: white;
  margin-top: 10rem;
  margin-bottom: 15rem;
  margin-right: 2rem;
}
