html {
  font-size: 18px;
  font-family: "Helvitica", sans-serif;
  background-color: white;
}

body {
  line-height: 1.4;
  font-family: "Helvitica", sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

/* HEADER  */
header {
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.mobile-nav {
  display: none;
}


/* MAIN BANNER  */
.main-banner {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: .67em 0;
  line-height: 1.2rem;
}


/* SUPPORTING SECTION */
.supporting {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
}

.service {
  height: 8rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper-icon {
  width: 3.5rem;
}

.title {
  max-width: 10rem;
  background-color: cadetblue;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  color: white;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding: 1rem 0 5rem 0;
  font-size: 18px;
}


/* FOOTER */
footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1024px) {
  nav .container {
    max-width: 100%;
  }

  header {
    height: 22rem;
    padding-top: 0;
  }
}

@media only screen and (max-width:1024px) {
  .main-banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
  .main-banner h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }
  .menu ul.mobile-nav {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  header div span {
    display: none;
  }
  header {
    background-position: 20%;
    height: 17rem;
  }
  .main-banner {
    width: 100%;
    padding: 0 1rem;
    margin: 9rem auto 0 auto;
    text-align: center;
  }
  .main-banner h1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 560px) {
  .supporting {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 560px) {
  .service {
    height: auto;
    margin: 0.77rem;
    font-size: 0.77rem;
  }
}

@media only screen and (max-width: 560px) {
  .info {
    width: 100%
  }
  .info .title {
    width: 100%;
    max-width: none;
    margin-right: 0;
    text-align: center;
  }
  .info p {
    padding: 1rem;
    font-size: 0.77rem;
  }
}

@media only screen and (max-width: 560px) {
  footer {
    justify-content: center;
  }
  footer div {
    display: none;
  }
}
